<div class="list row">
  <div class="center">
  <h4>IPS Logs</h4>
  <a routerLink="/addIPS"><button mat-raised-button color="primary">Add Log</button></a>
    <!-- <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="name"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchName()"
        >
          Search
        </button>
      </div>
    </div>
  </div>  -->
  
    <table>
        <thead>
            <tr>
                <th scope="col">Staff Name</th>
                <th scope="col">Time Period</th>
                <th scope="col">Work Week</th>
                <th scope="col">Hours Worked</th>
                <th scope="col">Team Hours Spent</th>
                <th scope="col">Community Hours Spent</th>
                <th scope="col">PTO Hours Spent</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let IPSLog of IPSLogs">
                <td>{{ IPSLog.staff_name }}</td>
                <td>{{ IPSLog.time_period }}</td>
                <td>{{ IPSLog.work_week }}</td>
                <td>{{ IPSLog.hours_worked }}</td>
                <td>{{ IPSLog.team_hours_spent }}</td>
                <td>{{ IPSLog.community_hours_spent }}</td>
                <td>{{ IPSLog.train_PTO_hours_spent }}</td>
                <button mat-raised-button color="warn" (click)="deleteOne(this.IPSLog.staff_name)">Delete Record</button>
            </tr>         
        </tbody>
    </table>
    
    <button mat-raised-button color="warn" (click)="deleteAll()">Delete All Records</button>

    </div>

</div>
