<style>
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif, serif;
    }

    .top-box h1 {
        margin: 0;
    }
</style>

<body style="background-color:rgb(193, 235, 221);">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/"><button mat-raised-button color="primary"><img
                        src="https://cdn-icons-png.flaticon.com/512/60/60817.png" width="30px"
                        height="30px"></button></a>
            <a class="nav-item nav-link" routerLink="/person"><button mat-raised-button color="primary"
                    style="margin-left:50px;">Person Level Survey</button></a>
            <a class="nav-item nav-link" routerLink="/closed"><button mat-raised-button color="primary"
                    style="margin-left:50px;">Closed Survey</button></a>
            <a class="nav-item nav-link" routerLink="/staffing"><button mat-raised-button color="primary"
                    style="margin-left:50px;">Staffing Level Survey</button></a>
            <a class="nav-item nav-link" routerLink="/ipslog"><button mat-raised-button color="primary"
                    style="margin-left:50px;">IPS Log Survey</button></a>
            <a class="nav-item nav-link" routerLink="/jobDev"><button mat-raised-button color="primary"
                    style="margin-left:50px;">Job Development Log</button></a>
        </div>
    </nav>
</body>


<!-- main content container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>