


  <smart-table #table id="table" style="width: 850px;">
    <table>
        <thead>
            <tr>
                <th scope="col">UID</th>
                <th scope="col">Phase of Service</th>
                <th scope="col">First Date</th>
                <th scope="col">ESP</th>
                <th scope="col">IPE with VR</th>
                <th scope="col">VR ID</th>
                <th scope="col">County ID</th>
                <th scope="col">Current Clinical Services</th>
                <th scope="col">Clinical Services Agency</th>
                <th scope="col">Benefits</th>
                <th scope="col">First Contact</th>
                <th scope="col">Start Date</th>
                <th scope="col">Pre Contact Date</th>
                <th scope="col">Post Contact Date</th>
                <th scope="col">Contacts</th>
                <th scope="col">Employer Name</th>
                <th scope="col">Job Title</th>
                <th scope="col">Job Duties</th>
                <th scope="col">Hourly Pay</th>
                <th scope="col">Post Contact Date</th>
                <th scope="col">School Name</th>
                <th scope="col">Degree</th>
                <th scope="col">Full or Part</th>
                <th scope="col">Hours</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of tableData">
                <td>{{ row.uid }}</td>
                <td>{{ row.phase_of_service }}</td>
                <td>{{ row.first_date }}</td>
                <td>{{ row.ESP }}</td>
                <td>{{ row.ipe_with_vr }}</td>
                <td>{{ row.vr_id}}</td>
                <td>{{ row.county_id }}</td>
                <td>{{ row.current_clinical_services }}</td>
                <td>{{ row.clinical_services_agency }}</td>
                <td>{{ row.benefits }}</td>
                <td>{{ row.first_contact }}</td>
                <td>{{ row.start_date }}</td>
                <td>{{ row.pre_f_f_contact_date }}</td>
                <td>{{ row.post_f_f_contact_date }}</td>
                <td>{{ row.f_f_contacts }}</td>
                <td>{{ row.employer_name }}</td>
                <td>{{ row.job_title }}</td>
                <td>{{ row.job_duties}}</td>
                <td>{{ row.hourly_pay }}</td>
                <td>{{ row.end_date }}</td>
                <td>{{ row.school_name }}</td>
                <td>{{ row.cert_degree }}</td>
                <td>{{ row.full_or_part }}</td>
                <td>{{ row.hours }}</td>

            </tr>         
        </tbody>
    </table>
</smart-table>
