


<style>
  .center {
    margin: auto;
    width: 60%;
    border: 3px solid rgb(193, 235, 221);
    padding: 10px;
  }
  body {
  font-family: Georgia, serif;
}
  </style>

<div class="center">

  <body style="background-color:rgb(193, 235, 221);">
    <h1>The Beast</h1>
    <p>Please Proceed with a Survey or Upload</p>
  
  
  
  <nav>
  
    <a routerLink="Client Survey">Client Survey</a>
    <span style="width:50px;display:inline-block"></span>
    <a routerLink="Sample Document Upload">     Sample Document Upload</a>
    <router-outlet></router-outlet>
    <footer></footer>
  
  </nav>
  
  </body>
  
</div>







