<h3>Client Survey</h3>

<span class="label success">In the Client Survey, we ask that you respond to a list of questions for each enrolled client. You can select all clients on this page or a subset of clients before moving to the next page listing the questions.

    Once on the next page, you can respond to the questions organized by category (e.g. Healthcare related questions), or move through as you wish, selecting up to 5 questions at a time).</span>
<h2></h2>

<div class ="form">
    <form action="app.component.html">
      <input type="submit" value="Back to Home Screen" />
  </form>
  </div>

<div class ="form">
  <form action="demographics.clientSurvey.html">
    <input type="submit" value="Demographics" />
</form>
</div>
<div class ="form">
    <form action="clientSurvey.component.html">
      <input type="submit" value="Int. Substance Abuse" />
  </form>
  </div>
<div class ="form">
  <form action="clientSurvey.component.html">
    <input type="submit" value="Psychiatric & Medical" />
</form>
</div>
<div class ="form">
    <form action="clientSurvey.component.html">
      <input type="submit" value="Employment and Education" />
  </form>
  </div>
  <div class ="form">
    <form action="clientSurvey.component.html">
      <input type="submit" value="Psychosocial" />
  </form>
  </div>
  <div class ="form">
    <form action="clientSurvey.component.html">
      <input type="submit" value="Housing" />
  </form>
  </div>
