<div class="list row">
  <div class="center">
    <h4>Job Development Logs</h4>

    <a routerLink="/addjobDev"><button mat-raised-button color="primary">Add Log</button></a>

    <table mat-table [dataSource]="dataSource">
      <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
        <th mat-header-cell *matHeaderCellDef>
          {{ col.label }}
        </th>
        <td mat-cell *matCellDef="let element">
          <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
            <!-- Code for selecting multiple specific rows
              <ng-container *ngSwitchCase="'isSelected'">
              <mat-checkbox (change)="element.isSelected = $event.checked"></mat-checkbox>
            </ng-container> -->
            <div *ngSwitchCase="'isEdit'">
              <button mat-icon-button color="basic" (click)="element.isEdit = !element.isEdit">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteOne(this.element.uid)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <span *ngSwitchDefault>
              {{ element[col.key] }}
            </span>
          </div>
          <div class="edit-table" [ngSwitch]="col.type" *ngIf="element.isEdit">
            <!-- <div *ngSwitchCase="'isSelected'"></div> -->
            <div *ngSwitchCase="'isEdit'">
              <button mat-icon-button (click)="editEntry(element); element.isEdit = !element.isEdit">
                <mat-icon>done</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="element.isEdit = !element.isEdit">
                <mat-icon>clear</mat-icon>
              </button>
            </div>
            <mat-form-field class="form-input" *ngSwitchDefault>
              <input matInput [required]="col.required" [pattern]="col.pattern" [type]="col.type"
                [(ngModel)]="element[col.key]" />
            </mat-form-field>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <button mat-raised-button color="warn" (click)="deleteAll()">Delete All Records</button>

  </div>

</div>